@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background:#17A589;
  color:#FFFFFF;
  padding:30px 0 0 0;
}
.container{
  max-width:800px;
  margin:0 auto;
  text-align:center;
  line-height:20px;
}
.line-1{
  font-size:44px;
  font-weight:10;
  font-family:'Source Sans Pro', sans-serif;
}
.line-2{
  font-size:56px;
  font-weight:300;
  font-family:'Oswald', sans-serif;
  color:orange;
}
.line-3{
  color:white;
  font-family:'Source Sans Pro', sans-serif;
  font-size:44px;
  font-weight:100;
}
.line-4{
  font-size:48px;
  font-weight:100;
  font-family:"Raleway", sans-serif;
  text-transform:uppercase;
  color:purple;
}
